<%- include('../partials/header') %>
<div class="container container-main mb-5">
  <h2 class="mb-4 fw-bold text-center">Latest Blogs</h2>
  <% if (blogs.length === 0) { %>
    <p class="lead text-muted text-center">No blogs yet. Be the first to create one!</p>
  <% } %>
  <div class="row g-4 justify-content-center">
    <% blogs.forEach(function(blog) { %>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <% if (blog.image) { %>
            <img src="/uploads/<%= blog.image %>" class="card-img-top" alt="Blog Image">
          <% } %>
          <div class="card-body">
            <a href="/blogs/<%= blog._id %>" class="fw-bold blog-title text-decoration-none"><%= blog.title %></a>
            <div class="small text-muted mb-2">by <%= blog.author.username %></div>
            <p class="card-text text-secondary"><%= blog.content.substring(0,120) %>...</p>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  <% if (user) { %>
    <div class="text-center mt-4">
      <a href="/blogs/create" class="btn btn-primary btn-lg px-4">+ Create Blog</a>
    </div>
  <% } %>
</div>
<%- include('../partials/footer') %>
